<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="statics/css/reset.css">
    <link rel="stylesheet" href="statics/css/desktop_view_2_style.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Encriptador v1</title>
</head>
<body>
    <div class="img-logo-box">
        <img src="statics/img/alura_logo.png"  alt="logo_alura">
    </div>
    <img class="adv_vector" src="statics/img/Vector_advertencia.png" alt="adv_vector">
    <p class="adv_pa">Sólo letras minúsculas y sin acentos</p>
    </div>
    

    <h3 class="text-output">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis minus reprehenderit quia ab. Nemo, laborum! Accusamus soluta quam earum. Ab sapiente officia soluta, provident blanditiis vero eveniet odit asperiores? Voluptates.</h3>

    <button class="btn-1"><a href="">Encriptar</a></button>
    <button class="btn-2"><a href="">Desencriptar</a></button>

    <div class="sidebar">
        <div class="text-box">
            <h4 class="text-1">Ningún mensaje fue encontrado</h4>
        </div>
        <button class="btn-copy">Copiar</button>
    </div>
</body>
</html>