<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="statics/css/reset.css">
    <link rel="stylesheet" href="statics/css/desktop_view_1_style.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Encriptador v1</title>
</head>
<body>
    <div class="img-logo-box">
        <img src="statics/img/alura_logo.png"  alt="logo_alura">
    </div>
    <img class="adv_vector" src="statics/img/Vector_advertencia.png" alt="adv_vector">
    <p class="adv_pa">Sólo letras minúsculas y sin acentos</p>
    </div>
    

    <input id='input_str' type="text" value="Ingrese el texto aquí" class="input-1">

    
    <button class="btn-1" id="btn-1" onclick="wordEncryptor_v1()">Encriptar</button>
    <button class="btn-2">Desencriptar</button>

    <div class="sidebar">
        <div class="img-sidebar">
            <img src="statics/img/Muñeco.png" alt="searching_image" >
        </div>
        <div class="text-box">
            <h4 class="text-1">Ningún mensaje fue encontrado</h4>
            <h5 class="text-2">Ingresa el texto que desees encriptar o desencriptar</h5>
        </div>
    </div>
</body>
</html>