<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="statics/css/reset.css">
    <link rel="stylesheet" href="statics/css/desktop_view_2_style.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Encriptador v1</title>
</head>
<body>
    <div class="img-logo-box">
        <img src="statics/img/alura_logo.png"  alt="logo_alura">
    </div>
    <img class="adv_vector" src="statics/img/Vector_advertencia.png" alt="adv_vector">
    <p class="adv_pa">Sólo letras minúsculas y sin acentos</p>
    </div>
    
    <input id='input_str' type="text" value="Ingrese el texto aquí" class="input-1">
    <script>        
        function wordEncryptor_v1(){
            let input_str = document.getElementById("input_str").value;
            console.log(input_str);
            let vocals_list = ['a','e','i','o','u']
            let subtitutions = ['ai','enter','imes','ober','ufat']            

            let input_arr = input_str.split('');
            console.log(input_arr)

            //First Comparative For Cicle
            for (i=0; i < input_arr.length; i++) {
                //console.log('Comparing *' + input_arr[i] + '* with vocals list')
                //Second For Cicle - Identify and Swap
                for(j=0; j < vocals_list.length; j++){
                    if (input_arr[i] === vocals_list[j]) {
                        //console.log('Itering in the character = ' + vocals_list[j] + ' > index = '+ j)
                        //console.log('Match: Yes')

                        //Swaping
                        input_arr[i] = subtitutions[j]
                        //console.log(input_arr);

                 //if (input_arr[i] !== vocals_list[j]){
                    // console.log('Match: No')
                 //}  
                    }
                }
            }
            let output_str = input_arr.join('')
            //console.log('Encrypted text -------> ' + output_str)
            console.log(output_str)
            document.getElementById('output_str').innerHTML = output_str;
            return output_str;
        }
    </script>


    <button class="btn-1" id="btn-1" onclick="wordEncryptor_v1()">Encriptar</button>
    <button class="btn-2">Desencriptar</button>

    <div class="sidebar">
        <div class="text-box">
            <p class="output_text" id="output_str">Ningún mensaje fue encontrado</p>
        </div>
        <button class="btn-copy">Copiar</button>
    </div>
</body>
</html>